<div>
    <p>You're receiving this email because you requested a password reset for your user account on Dropchats.</p>
    <p>For resetting your password, use the following code: <%= @data.otp %></p>
    <p>Your username, in case you've forgotten is the following: <%= @data.username %></p>
    <p>Thanks for using Dropchats!</p>
    <p>kudos! The Dropchats team.</p>
</div>
