<%= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f -> %>
  <fieldset class="torch-panel">
    <legend>
      <span>Details</span>
    </legend>
    <%= if @changeset.action do %>
      <p class="torch-form-error">Oops, something went wrong! Please check the errors below.</p>
    <% end %>

    <div class="torch-form-group">
      <%= label f, :enabled %>
      <%= checkbox f, :enabled %>
      <%= error_tag f, :enabled %>
    </div>

    <div class="torch-form-group">
      <%= label f, :info %>
      <%= textarea f, :info, rows: 30 %>
      <%= error_tag f, :info %>
    </div>

    <div class="torch-submit-form">
      <%= submit "Submit", class: "torch-submit-button" %>
    </div>
  </fieldset>
<% end %>