PORT=1234
SECRET_KEY_BASE=abcd
HOST=example.com
GS_MEDIA_BUCKET_NAME=billbored-beta-media-store-bucket-europe
DATABASE_SOCKET=/cloudsql/<gcp-project>:<region>:<db-instance-name>/.s.PGSQL.5432
DATABASE_HOST=10.162.0.13
DATABASE_PORT=6432
DATABASE_NAME=billbored_beta
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres_actually_not
LANG=en_US.UTF-8
SESSION_ENCRYPTION_SALT=encryption_salt
SESSION_SIGNING_SALT=signing_salt
TORCH_PASSWORD=YqiswcgkWR
METRICS_PASSWORD=123456
REDIS_HOST=10.230.229.123
REDIS_DB=0
FCM_SERVER_KEY=abcde012345